<html>
<head>
  <style type="text/css">
    #svg {
      width: 4000px;
      height: 4000px;
    }
    div.width-test
    {
      position: absolute;
      visibility: hidden;
      height: auto;
      width: auto;
      white-space: nowrap;
    }
  </style>
  <script src="js/snap.svg.js"></script>
  <script type="text/javascript">
    var data = $data;
  </script>
  <script src="js/graph.js"></script>
</head>
<body>
  <svg id="svg"></svg>
</body>
</html>
